p This site is a demonstration of how to build a website using Sinatra. <br/>
	Student website includes multiple pages. <br/>
li Login
p On top right, there are login and signup links.<br/>
  By default user: admin, password admin can login and check student list or add/edit/delete student info. <br/>
  Additionally, you can sign up with new username and password. <br/>
  If the username or password are wrong, it will redirect to error page.<br/>
  username and encryped password will be store in admins table which is stored in development.db file. <br/>
  <br/>
  After login, the username and logout link will be shown on the top right.<br/>
  user can log out anytime.<br/>

li Student Info
p Only when user logon, user can check the name list, add the new student info. <br/>
  Otherwise, it will redirect to Not Authorized page. <br/>
  Click student name, you will get details including student ID, address, phone number and email. <br/>
  In detail page, user can edit, delete student info, and there is a link of getting back to student list. <br/>
  