label for="studentid" studentid:
input#studentid type="numbers" name="student[studentid]" value="#{@student.studentid}"
label for="firstname" firstname:
input#firstname type="String" name="student[firstname]" value="#{@student.firstname}"
label for="lastname" lastname:
input#lastname type="String" name="student[lastname]" value="#{@student.lastname}"
label for="address" address:
input#address type="text" name="student[address]" value="#{@student.address}"
label for="city" city:
input#city type="String" name="student[city]" value="#{@student.city}"
label for="zipcode" zipcode:
input#zipcode type="number" name="student[zipcode]" value="#{@student.zipcode}"
label for="phonenumber" phonenumber:
input#phonenumber type="number" name="student[phonenumber]" value="#{@student.phonenumber}"
label for="emailaddress" emailaddress:
input#emailaddress type="String" name="student[emailaddress]" value="#{@student.emailaddress}"
input type="submit" value="Save Student"